<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>97211258963-a0cg7uqe60v14vfejvnrefqjkpcvvpl2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.97211258963-a0cg7uqe60v14vfejvnrefqjkpcvvpl2</string>
	<key>API_KEY</key>
	<string>AIzaSyAJ1ap1N2a4kGnxgIytpBfkU45C8xeDuTo</string>
	<key>GCM_SENDER_ID</key>
	<string>97211258963</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mesterra.AgileDiary</string>
	<key>PROJECT_ID</key>
	<string>agilee-f836b</string>
	<key>STORAGE_BUCKET</key>
	<string>agilee-f836b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:97211258963:ios:6f54b4dc63d1a42a</string>
	<key>DATABASE_URL</key>
	<string>https://agilee-f836b.firebaseio.com</string>
</dict>
</plist>